<po-container>
    <div class="po-row">
        <div class="po-xl-4 po-lg-4 po-md-4 po-sm-12">
            <div class="po-row">
                <ion-button color="tertiary" (click)="getClients()">GET CLIENTS
                </ion-button>
            </div>
        </div>
    </div>
    <po-loading-overlay [hidden]="isHideLoading"></po-loading-overlay>
    <div class="po-row">
        <div class="po-xl-4 po-lg-4 po-md-4 po-sm-12">
            <po-textarea class="po-md-12" name="text" [(ngModel)]="gatewayData" p-label="Response Gateway" p-readonly p-rows="6">
            </po-textarea>
        </div>
    </div>
</po-container>